.main-container{
    /* border:2px solid black; */
    height:700px;
    width:100%;
    display:flex;
    flex-direction:row;
    /* justify-content:space-around; */
    /* align-items:center; */
}

.Avante{
    /* border:2px solid red; */
    height:700px;
    width:100%;
    display:flex;
    flex-direction:row;
    /* align-items:; */
    /* justify-content:; */
}

.container{
    /* border:2px solid hotpink; */
    background-color:rgb(0, 166, 255);
    height:700px;
    width:40%;
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    /* justify-content:; */
    margin-right:0%;
    /* border-radius:15px 0px 0px 15px; */
}

.Rose{
    /* border:2px solid forestgreen; */
    height:700px;
    width:99%;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:; */
}

.Pato{
    color:white;
    /* border:2px solid blue; */
    height:70px;
    width:70%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    margin-top:220px;
    margin-bottom:0%;
    font-size:large;
    font-weight:bolder;
}

/* .h1{
    font-weight:500px;
} */

.Oprah{
    color:white;
    /* border:2px solid greenyellow; */
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    height:60px;
    width:80%;
    margin-bottom:35px;
}

.sure{
    /* border:2px solid greenyellow; */
    height:20px;
    width:90%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    font-size:small;
    font-weight:thin;
}

.Soon{
    /* border:2px solid yellow; */
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    height:60px;
    width:60%;
}

.Jasper{
    border:2px solid white;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:60px;
    width:100%;
    background-color:rgb(0, 166, 255);
    border-radius:30px;
    color:white;
}

a{
    border:2px solid white;
    border-top:hidden;
    border-left:hidden;
    border-right:hidden;
    border-bottom:hidden;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:60px;
    width:60%;
    background-color:rgb(0, 166, 255);
    border-radius:30px;
    color:white;
    text-decoration:none;
    /* margin-left:20px; */
}

.navigation{
    /* border:2px solid yellowgreen; */
    width:62%;
    height:700px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    /* border-radius:0px 15px 15px 0px; */
}

.Loner{
    /* border:2px solid red; */
    width:80%;
    height:500px;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* justify-content:; */
}

.Harry{
    /* border:2px solid red; */
    width:70%;
    height:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    font-size:40px;
    font-weight:bolder;
    color:rgb(0, 166, 255);
    margin-bottom:50px;
}

.David{
    /* border:2px solid blue; */
    width:70%;
    height:30px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    font-size:small;
}

.Messi{
    /* border:2px solid white; */
    width:70%;
    height:160px;
    display:flex;
    flex-direction:column;
    /* align-items:; */
    justify-content:space-between;
    margin-top:10px;
}

.Jupiter{
    /* border:2px solid firebrick; */
    height:40px;
    width:95%;
    border-bottom:hidden;
    border-top:hidden;
    border-left:hidden;
    border-right:hidden;
    display:flex;
    flex-direction:row;
    /* align-items:; */
    justify-content:space-between;
    background-color:whitesmoke; 
    padding-left:15px;
}

.Mars{
    /* border:2px solid greenyellow; */
    height:40px;
    width:95%;
    display:flex;
    flex-direction:row;
    /* align-items:; */
    justify-content:space-between;
    background-color:whitesmoke;
    border-bottom:hidden;
    border-top:hidden;
    border-left:hidden;
    border-right:hidden;
    padding-left:15px;
}

.Earth{
    /* border:2px solid lightcoral; */
    height:40px;
    width:95%;
    display:flex;
    flex-direction:row;
    /* align-items:; */
    justify-content:space-between;
    background-color:whitesmoke;
    border-bottom:hidden;
    border-top:hidden;
    border-left:hidden;
    border-right:hidden;
    padding-left:15px;
}

.Starlink{
    /* border:2px solid red; */
    height:60px;
    width:35%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    margin-top:30px;
}

.Nasa{
    /* border:2px solid black; */
    border-top:hidden;
    border-bottom:hidden;
    border-left:hidden;
    border-right:hidden;
    background-color:rgb(0, 166, 255);
    height:60px;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    color:white;
    border-radius:30px;
}

@media only screen and (max-width: 600px) {
    
}

